.app {
    text-align: center;
    font-weight: normal !important;
    color: #f4f4ff !important;
    letter-spacing: .5px !important;
    background-color: #171b22; 
    font-family: "futura-pt", sans-serif;
}

.bg .ui.button {
    letter-spacing: .3px !important;
}

.ui.button {
    letter-spacing: .5px !important;
    font-weight: normal !important;
    justify-content: center !important;
    text-align: center !important;
}

.ui.modal {
    background-color: #171b22 !important;
    width: 630px !important;
    color: white;
}

.ui.modal > .content {
    background: inherit !important;
}

.ui.divider {
    color: white !important;
}

.nav {
    background-color:#171b22 !important;
    height:100px;
}

.nav .item {
    color: #c7c7ff  !important;
    letter-spacing:.25px
}

.nav a, .ui.icon  {
    color: #c7c7ff !important;
}

.nav h1 > a {
    color:#f4f4ff !important;
    font-family:"Helvetica";
}

.app .ui.container {
    min-height:70vh;
    height:100%;
}

.appfooter .ui.segment {
    background-color:#171b22 !important;
    margin-top: 3.3% !important;
    color:white;
    font-family: "Helvetica" !important;
}

.ui.segment {
    background: inherit !important;
}

.signupin h2 {
    font-family:"Helvetica"
}

.signupin .ui.label {
    color: black;
    background-color:#cdcdff;
    cursor: pointer;
    font-size: 11px !important;
    font-weight: normal;
}

.home, .watchlist{
    letter-spacing: .5px;
}

.home h3 {
    font-weight: normal;
    text-align: left;
    font-size: 16px;
    font-family: 'Helvetica';
    letter-spacing: 0px !important;
}

.home p {
    margin-top:4.5%;
    margin-bottom:3.5%;
    text-align:left;
}

.home .ui.card, .watchlist .ui.card {
    background-color:#171b22 !important;
    box-shadow:none !important;
    color:#f4f4ff !important;
}

.home .ui.image, .watchlist .ui.image {
    height: 220px !important;
    width: 210px !important;
}

.filmModal .ui.image {
    cursor: pointer;
}

.watchlist p {
    margin-top:3.5% !important;
}

.diaries h3 {
    color:#f4f4ff;
    font-size: 16px !important;
    font-family: 'Helvetica' !important;
    letter-spacing: .5px !important;
}

.diaries .ui.image {
    height: 88px !important;
    width: 62px !important;
    margin-left: 15%;
}

.remove .ui.button {
    background: none;
    color: white;
}

.ui.rating .icon:before {
    color: #383838 !important;
}

.ui.rating .icon.active:before{
    color: #cdcdff !important;
}

.userpage .ui.card {
    background-color: #171b22 !important;
    box-shadow: none;
    margin-top: -8% !important;
    width: 150px;
    font-family: "Helvetica" !important;
    letter-spacing: .5px !important;
}

.userpage a {
    color: #f4f4ff;
}

.userpage  .ui.button:hover, a:hover {
    color: #c7c7ff !important;
}

.userpage h3 {
    font-family: "Helvetica" !important;
    letter-spacing: .5px !important;
    font-size: 16px;
}

.userpage .ui.button {
    background: none !important;
    margin-top:-2.5%;
    color:white;
}

.userpage .ui.grid {
    width: 420px;
    margin-top: 2.1%;
}



h1, h2, h3, h4, h5 {
    font-weight: normal !important;
    letter-spacing: .5px !important;
}

h2 {
    font-size: 22px !important;
}